<div id="for-backbone"></div>
<script>
  GoogleSheetsClone.createIcon = "<%= asset_path('create-icon.png') %>";
  GoogleSheetsClone.logo = "<%= asset_path('cells-logo.png') %>";
  GoogleSheetsClone.formulaIcon = "<%= asset_path('formula-icon.svg') %>";
</script>
