<div class="overlay"></div>

<div class="window">
  <h1>Delete <strong><%= spreadsheet.get("title") %></strong></h1>

  <p>Are you sure you wish to delete this spreadsheet? This action cannot be undone.</p>

  <button class="delete-spreadsheet">Delete</button>
  <button class="close-modal">Cancel</button>
</div>
