<ul class="spreadsheet-attributes group">
  <li class="logo"><img src="<%= GoogleSheetsClone.logo %>"></li>
  <li class="title"><%= spreadsheet.escape("title") %></li>
  <li class="owner"><%= spreadsheet.owner.escape("name") %></li>
  <li class="updated-at"><%= spreadsheet.updatedAtString() %></li>
  <li class="context-menu-link">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </li>
</ul>
