<section class="sub-header">
  <section class="create group">
    <img class="plus" src="<%= GoogleSheetsClone.createIcon %>">
    <h1>Create a new spreadsheet</h1>
  </section>
</section>

<div class="spreadsheets-container">
  <% if (this.collection.length !== 0) { %>
    <h2 class="owner-header">Owner</h2>
    <h2 class="updated-header">Last edited</h2>
  <% } else { %>
    <h1 class="no-spreadsheets">Your spreadsheets will appear here!</h1>
  <% } %>
</div>
