<div id="formula-bar">
  <div class="formula-bar-container group">
    <img class="formula-icon" src="<%= GoogleSheetsClone.formulaIcon %>"></img>

    <form>
      <input type="text">
    </form>
  </div>
</div>

<h1>Nowt here yet</h1>
