<div id="formula-bar">
  <div class="formula-bar-container group">
    <img class="formula-icon" src="<%= GoogleSheetsClone.formulaIcon %>"></img>

    <form>
      <input type="text">
    </form>
  </div>
</div>

<div id="select-all"></div>

<ul id="column-headers" class="group"></ul>

<div class="group">
  <ul id="row-headers"></ul>
  <ul id="cells" class="group"></ul>
</div>
