<% if(editing) { %>
  <input type="text" class="cell-contents input" name="cell[contents]" value="<%= contents %>">
<% } else { %>
  <div class="cell-contents" data-contents="<%= contents %>"><%= evaluatedContents %></div>
<% } %>
