<% if(gettingInput) { %>
  <form class="cell-form">
    <input type="text" class="cell-contents input" name="cell[contents]" value="<%= contents %>">
  </form>
<% } else { %>
  <div class="cell-contents"><%= contents %></div>
<% } %>
