section.form {
  width: 900px;
  margin: auto;
  text-align: center;
}

ul.errors > li {
  background: red;
  color: white;
  margin: 10px ;
}

section.form h1 {
  padding-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}

section.form h2 {
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

section.form label {
  margin: 10px;
}

section.form input {
  display: block;
  background: white;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
}

section.form button {
  display: block;
  cursor: pointer;
  background: rgb(15, 157, 88);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 20px auto;
}

section.form a {
  display: block;
  margin: 30px;
}

section.form .delete-account {
  display: block;
  margin: 20px auto;
  background: red;
  color: white;
  border-radius: 5px;
  width: 150px;
  padding: 10px;

}
