ul.spreadsheets {
  width: 900px;
  background: white;
  margin: 20px auto 0 auto;
  border-left: 1px solid rgb(196, 196, 196);
  border-top: 1px solid rgb(196, 196, 196);
}

ul.spreadsheets > li {
  cursor: pointer;
  padding: 20px;
  border-right: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
}

ul.spreadsheets > li:hover {
  background: #f1faf6;
}

h2.time-period {
  width: 900px;
  margin: 20px auto 0 auto;
}

div.spreadsheets-container {
  margin-bottom: 100px;
}

ul.spreadsheet-attributes {
  width: 840px;
}

ul.spreadsheet-attributes > li {
  display: block;
}

ul.spreadsheet-attributes > li.title {
  float: left;
  width: 450px;
}

ul.spreadsheet-attributes > li.owner {
  float: left;
}

ul.spreadsheet-attributes > li.updated-at {
  float: right;
  width: 100px;
}
