ul.spreadsheets {
  width: 900px;
  background: white;
  margin: 20px auto 0 auto;
  border-left: 1px solid rgb(196, 196, 196);
  border-top: 1px solid rgb(196, 196, 196);
}

ul.spreadsheets > li {
  position: relative;
  cursor: pointer;
  border-right: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
}

ul.spreadsheets > li:hover {
  background: #f1faf6;
}

h2.time-period {
  display: block;
  width: 900px;
  margin: 20px auto 0 auto;
}

div.spreadsheets-container {
  margin-bottom: 100px;
}

ul.spreadsheet-attributes {
  width: 900px;
}

ul.spreadsheet-attributes > li {
  display: block;
  font-size: 14px;
  font-weight: 500;

  vertical-align: middle;
  height: 21px;
  line-height: 21px;
}

ul.spreadsheet-attributes > li.logo {
  float: left;
  margin: 15px;
}

ul.spreadsheet-attributes > li.logo img {
  display: block;
  height: 15px;
  width: 15px;
  padding: 3px;
  background: rgb(15, 157, 88);
}

ul.spreadsheet-attributes > li.title {
  float: left;
  width: 425px;
  margin: 15px;
}

ul.spreadsheet-attributes > li.owner {
  color: #756E6E;
  float: left;
  width: 170px;
  margin: 15px;
}

ul.spreadsheet-attributes > li.updated-at {
  color: #756E6E;
  float: left;
  margin: 15px;
}

ul.spreadsheet-attributes > li.context-menu-link {
  float: right;
  padding: 15px 15px;
}

ul.spreadsheet-attributes > li.context-menu-link > .dot {
  background: #756E6E;
  padding: 2px;
  margin: 2px;
  border-radius: 50%;
}

ul.spreadsheet-attributes > li.context-menu-link:hover > .dot {
  background: black;
}

ul.context-menu {
  font-size: 14px;
  position: absolute;
  right: -45px;
  top: 45px;
  background: rgb(250, 250, 250);
  box-shadow: 0px 2px 5px #756E6E;
  z-index: 2;
  padding: 5px 0;
}

ul.context-menu li {
  padding: 10px 40px 10px 30px;
  width: 53px;
}

ul.context-menu li:hover {
  background: rgb(200, 200, 200);
}

ul.context-menu .triangle {
  content: "";
  position: absolute;
}

ul.context-menu .triangle.inner {
  left: 50px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgb(250, 250, 250);
  z-index: 3;
}

ul.context-menu .triangle.outer {
  left: 49px;
  top: -22px;
  border: 11px solid transparent;
  border-bottom: 11px solid rgb(200, 200, 200);
}
