div#formula-bar {
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid #c0c0c0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

div.formula-bar-container {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

div#formula-bar img {
  position: relative;
  width: 60px;
  display: block;
  float: left;
  height: 25px;
  background: white;
}

div#formula-bar input {
  background: white;
  width: calc(100% - 60px - 1px - 5px);
  display: block;
  float: left;
  height: 25px;
  border-left: 1px solid rgb(238, 238, 238);
  padding-left: 5px;
  outline: none;
}

ul#row-headers {
  background: rgb(238, 238, 238);
  position: relative;
  top: 37px;
  width: 59px;
  border-right: 1px solid #c0c0c0;
  z-index: 2;
}

li.row-header {
  display: block;
  width: 59px;
  border-bottom: 1px solid #c0c0c0;
  height: 19px;
  text-align: center;
  font-size: 19px;
  padding: 8px 0 8px 0;
}

ul#column-headers {
  background: rgb(238, 238, 238);
  position: relative;
  left: 60px;
  top: 37px;
  z-index: 2;
}

li.column-header, li.cell {
  display: block;
  float: left;
  text-align: center;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  height: 19px;
  width: 175px;
  font-size: 19px;
  padding: 8px 0 8px 0;
}

div#select-all {
  background: rgb(238, 238, 238);
  position: fixed;
  top: 97px;
  width: 55px;
  border-right: 5px solid #c0c0c0;
  border-bottom: 5px solid #c0c0c0;
  display: block;
  float: left;
  height: 31px;
  z-index: 3;
}

ul#cells {
  background: white;
  position: absolute;
  top: 133px;
  left: 60px;
  width: 59px;
  z-index: 1;
}
