div#formula-bar {
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid #c0c0c0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

div.formula-bar-container {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

div#formula-bar img {
  position: relative;
  width: 60px;
  display: block;
  float: left;
  height: 25px;
  background: white;
}

div#formula-bar input {
  font-size: 19px;
  background: white;
  width: calc(100% - 60px - 1px - 5px);
  display: block;
  float: left;
  height: 25px;
  border-left: 1px solid rgb(238, 238, 238);
  padding-left: 5px;
  outline: none;
}

ul#row-headers {
  background: rgb(238, 238, 238);
  position: relative;
  top: 37px;
  width: 59px;
  border-right: 1px solid #c0c0c0;
  z-index: 2;
}

li.row-header {
  display: block;
  width: 59px;
  border-bottom: 1px solid #c0c0c0;
  height: 35px;
  text-align: center;
  font-size: 19px;
  cursor: default;
}

li.row-header div.row-header-label {
  padding: 8px 0;
}

ul#column-headers {
  background: rgb(238, 238, 238);
  position: relative;
  left: 60px;
  top: 37px;
  z-index: 2;
}

li.column-header {
  display: block;
  float: left;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  font-size: 19px;
  width: 175px;
  height: 19px;
  cursor: default;
  padding: 8px 0 8px 0;
  text-align: center;
}

li.column-header:hover, li.row-header:hover, div#select-all:hover, li.column-header.ui-resizable-resizing,  li.row-header.ui-resizable-resizing {
  background: rgb(220, 220, 220);
}

li.column-header.ui-resizable-resizing + li.column-header:hover {
  background: transparent;
}

li.row-header.ui-resizable-resizing + li.row-header:hover {
  background: transparent;
}


div.selected-cell-border {
  bottom: -1px;
  left: -1px;
  position: absolute;
  display: block;
  border: 3px solid #4285f4;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  pointer-events: none;
  z-index: 2;
}

div.current-editor-border {
  bottom: -1px;
  left: -1px;
  position: absolute;
  display: block;
  border: 3px solid rgb(15, 157, 88);
  width: calc(100% - 6px);
  height: calc(100% - 5px);
  pointer-events: none;
  color: rgb(15, 157, 88);
  font-size: 12px;
  text-align: right;
  padding-right: 2px;
  padding-top: 1px;
}

div.cells-for-insertion-border {
  position: absolute;
  display: block;
  border: 3px dashed orange;
  pointer-events: none;
}

div.copied-cells-border {
  position: absolute;
  display: block;
  border: 3px dashed #4285f4;
  pointer-events: none;
}

div#select-all {
  background: rgb(238, 238, 238);
  position: fixed;
  top: 97px;
  width: 55px;
  border-right: 5px solid #c0c0c0;
  border-bottom: 5px solid #c0c0c0;
  display: block;
  float: left;
  height: 31px;
  z-index: 3;
}

div#select-all.before-loaded {
  background: transparent;
  border: none;
}

ul#cells {
  background: white;
  position: absolute;
  top: 133px;
  left: 60px;
  width: 59px;
  z-index: 1;
}
