.sub-header {
  width: 100%;
  background: rgb(57, 66, 66);
  color: white;
  text-align: center;
}

.sub-header h1.welcome {
  padding: 20px;
  font-size: 52px;
}

.sub-header .create {
  cursor: pointer;
  width: 900px;
  margin: auto;
}
.sub-header .create h1 {
  display: block;
  float: left;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  vertical-align: middle;
  padding: 75px 0;
}

.sub-header .create img.plus {
  display: block;
  float: left;
  background: white;
  padding:35px 55px;
  height: 40px;
  margin: 40px 70px 40px 0;
  border: 5px solid white;
}

.sub-header .create:hover img.plus {
  border: 5px solid rgb(15, 157, 88);
}

.sub-header .create:hover h1 {
  color: rgb(15, 157, 88);
}
