<div class="overlay"></div>

<div class="window">
  <h1>Share with others</h1>

  <h2>Who has access</h2>
  <ul class="shares"></ul>

  <h2>Add someone:</h2>
  <form class="new-share-form">
    <input type="text" placeholder="Enter an email address" name="share[sharee_email]">
    <button>Add</button>
  </form>

  <button class="close-modal">Done</button>
</div>
