<div
  style="background: url(<%= share.sharee.escape("picture") %>); background-size: cover"
  class="picture-container">
</div>

<ul class="share-attributes">
  <li class="sharee-name"><%= share.sharee.escape("name") %></li>
  <li class="sharee-email"><%= share.sharee.escape("email") %></li>
</ul>

<button class="delete-share">Revoke</button>
