<div class="overlay"></div>

<div class="window">
  <h1>Sharing settings</h1>

  <h2>Who has access</h2>
  <ul class="shares">
    <li class="share group">
      <div
        style="background: url(<%= owner.escape("picture") %>); background-size: cover"
        class="picture-container">
      </div>
      <ul class="share-attributes">
        <li class="sharee-name"><%= owner.escape("name") %> (me)</li>
        <li class="sharee-email"><%= owner.escape("email") %></li>
      </ul>

      <div class="owner-notice">Owner</div>
    </li>
  </ul>

  <form class="new-share-form">
    <label for="share_sharee_email">Add someone</label>
    <input id="share_sharee_email" type="text" placeholder="Enter an email address" name="share[sharee_email]">
    <button>Add</button>
  </form>

  <button class="close-modal">Done</button>
</div>
